*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
 display: flex;
 flex-wrap: wrap;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
height: 60px;
padding: 20px;
}

.nav-a{
display: flex;
list-style: none;
text-decoration: none;
color: rgb(235, 152, 52);
gap: 45px;
flex-wrap: wrap;
padding-left: 8px;
 

}

.nav-b {
    list-style-type: none;
    padding-left: 200px;
    position: relative;
    align-self: center;
    border-radius: 20px;
    top: -3px;

}

.nav-b input{
    height: 28px;
    width: 230px;
    border-radius: 20px;
    
}

.nav-b i {
    padding-left: 600px;
    position: absolute;
    right:5px;
  	top:2px;
  	padding: 3px;
}

.nav-c{
    display: flex;
    list-style-type: none;
    padding-left: 360px;
    gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-facebook {
  color: #1877F2;
}

.fa-instagram {
  color: #E4405F;
}

.fa-discord {
  color: #5865F2;
}

.fa-tiktok {
  color: #000000;
}

